#Firebase Configuration 
# Replace these with your own Firebase project credentials
ANDROID_API_KEY=your_android_api_key_here
ANDROID_APP_ID=your_android_app_id_here

IOS_API_KEY=your_ios_api_key_here
IOS_APP_ID=your_ios_app_id_here
IOS_CLIENT_ID=your_ios_client_id_here
ANDROID_CLIENT_ID=your_android_client_id_here
IOS_BUNDLE_ID=com.example.agromate

MESSAGING_SENDER_ID=your_sender_id_here
PROJECT_ID=your_project_id_here
STORAGE_BUCKET=your_storage_bucket_url_here

#AI & External APIs
HUGGING_FACE_KEY=your_hugging_face_token_here
WEATHER_API_KEY=your_openweather_api_key_here